openai~=1.35.10
python-dotenv==1.0.1
langchain~=0.3.0
langchain-community~=0.2.7
yt_dlp~=2024.7.9
streamlit~=1.36.0
pydub~=0.25.1
sentence-transformers~=3.0.1
chromadb~=0.5.4
requests~=2.32.3

pymongo~=4.10.1
azure-storage-blob~=12.23.1